@media (min-width: 480px) and (max-width: 768px) {
	.adjust {
		font-size: 0.8rem;
	}
	.fa-size {
		font-size: 26px;
	}
}

.playnow {
	font-size: 1rem;
	margin-top: 2rem;
}

.btn-outline-danger {
	color: #dc3545;
	background-color: rgba(143, 155, 88, 0.2);
	border-color: #dc3545;
}

/* .center-content1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -350%)
} */

/*
@media (min-width: 480px) and (max-width: 768px) {
	.btn-lg .adj-link {
		font-size: 1.2rem;
	}
} */