@media (min-width: 768px) and (max-width: 1000px) {
  .cardInput {
    width: 22vw;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .cardInputImgs {
    width: 170px !important;
  }

  .cardInput {
    width: 150px;
  }

  .adjust {
    font-size: 0.8rem;
  }
  .fa-size {
    font-size: 26px;
  }
  .sendEmailButton {
    width: 110px;
    font-size: 11px;
    padding: 6px 2px;
  }
  .smallcopy {
    width: 40px;
    font-size: 11px;
    padding: 15px 2px;
  }
}

.playnow {
  font-size: 1rem;
  margin-top: 1.3rem;
}

.smallcopy {
  color: #fff;
  background-color: #17a2b8;
  /* border-color: #dc3545; */
  border-radius: 10%;
}

.backstyle {
  background-color: rgb(218, 247, 166);
}

.onepxborder {
  border: 1px solid #8c8e90;
  margin-bottom: 5px;
}

/* .center-content1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -350%)
} */

/*
@media (min-width: 480px) and (max-width: 768px) {
	.btn-lg .adj-link {
		font-size: 1.2rem;
	}
} */

.cardInputImgs {
  position: relative;
  display: inline-block;
  transition: 0.7s ease-out;
  width: 120px;
}

.cardInputImgs {
  cursor: pointer;
  margin: 0 3px;
  border-radius: 20px;
}

@media only screen and (max-device-width: 480px) {
  .cardInputImgs {
    width: 80px;
    height: 80px;
  }
}
